{% extends "base.html" %}

    {% block content %}

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">
            Patient List
        </h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            {% comment %} <div class="card-header py-3">
            </div> {% endcomment %}
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead><tr>
                        <th title="Field #1">Name</th>
                        <th title="Field #2">Id</th>
                        <th title="Field #3">Age</th>
                        <th title="Field #4">Gender</th>
                        <th title="Field #5">Doctor</th>
                        <th title="Field #6">Description</th>
                        </tr></thead>
                        <tbody>
                        {% for patient in patients %}
                        <a href="{% url 'rooms:detail' room.pk %}"></a>
                            <tr onClick="location.href='{% url "patients:detail" patient.pk %}'">
                            <td>{{patient.name}}</td>
                            <td align="right">{{patient.id}}</td>
                            <td align="right">{{patient.age}}</td>
                            <td align="right">{{patient.gender}}</td>
                            <td>{{patient.doctor}}</td>
                            <td>{{patient.description}}</td>
                            </tr>
                        </a>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                        {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
                        {% endif %}
                        </li>
                        <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
                        <li class="page-item">
                        {% if page_obj.has_next  %}
                        <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                        {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
    </div>            
    {% endblock %}
