{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_title %}Patient Detail{% endblock page_title %}

{% block content %}

<div>
    <div class="page-header ml-4">Name : {{patient.name}} / ID : {{patient.id}}</div>
    <h4>
    {% if patient.doctor.superhost %}
        Doctor : {{patient.doctor}}
    {% endif %}
    </h4>
</div>

<form method = "post" enctype="multipart/form-data" class="ml-5 mt-4">
    <div class="p-4 container flex flex-col border border-gray-400 rounded-lg"> 
        {% csrf_token %}
        {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary flex">Upload</button>
    </div>
</form>

<div>
    <div class="page-header mt-3 ml-5">Diagnosis history</div>
    <ul>
    {% for image in patient.images.all  %}
    <div class="container" style="display: inline-block;text-align: center; width: 300px;">
        <li style="list-style: none;" class="mt-3">
            <img src="{{image.file.url}}" width="275"> <br>   
        </li>
        <table class="table mt-2 ">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Disease</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cardiomegaly</td>
                    <td>86%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Emphysema</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>No Finding</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>2순위</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

{% endblock content %} 
