{% extends "base.html" %}


{% block page_name %}
    Patient Detail
{% endblock page_name %}

{% block content %}

<div>
    <h1>Patient Detail</h1>
    <h4>Name : {{patient.name}}</h4>
    <h4>ID : {{patient.id}}</h4>
</div>
<div>
    <h4>
    {% if patient.doctor.superhost %}
        Doctor : {{patient.doctor}}
    {% endif %}
    </h4>
    <h4>Images : </h4>
    <ul>
    {% for image in patient.images.all  %}
        <li>
            <img src="{{image.file.url}}" width="100"> <br>
            {{image.disease1}}
        </li>
    {% endfor %}
</div>

{% endblock %} 