{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'users:update' %}" >
    {% csrf_token %}
    <div class="container flex p-6 border border-gray-400">
            
        {% bootstrap_form form %}
        
        <div class="">
            <a class="btn btn-primary" href="{% url 'users:password' %}" role="button">Change Password</a>
        </div>
        <button type="submit" class="btn btn-success mt-5">Finished</button>
        
    </div>
</form>
    
{% endblock content %}