{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'users:update' %}" >
    {% csrf_token %}
    <div class="container flex flex-colborder p-6 border-gray-400">
            
        {% bootstrap_form form %}
        
        <div class="">
            <a href="{% url 'users:password' %}">Change Password</a>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Finished</button>
        
    </div>
</form>
    
{% endblock content %}