{% extends "base.html" %}

{% block page_title %}
    {{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block content %}
<div class="min-h-75vh"> <!--방이 없더라도 footer가 프로필 바로 아래에 있지 않게 하기 위한것-->
    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">

        {% include "mixins/user_avatar.html" with user=user_obj%}

        <!--여기에서는 user detail view랑 연결된 이름(로그인한 사람의 프로필)이 보여진다.-->
        <!--user view에서 정의한 context를 가져와서 자유롭게 사용이 가능하다.-->
        
        <!--user.get_absolute_url안의 user는 View에 의해 바뀌지만 context_name을 설정하면 view가 사용하는 user의 이름이 따로 정해지므로 바뀌지 않는다.-->
        <div class="flex items-center">
            <span class="text-3xl mt-1">{{user_obj.first_name}}</span>
            {% if user_obj.superhost %}
                <i class="fas fa-check-circle text-teal-400 ml-1"></i>
            {% endif %}
        </div>

        <span class="text-lg mb-5">{{user_obj.bio}}</span>

        {% if user == user_obj %}
            <a href="{% url 'users:update' %}" class="btn-link">Edit Profile</a>
        {% endif %}
    </div>

    {% if user_obj.rooms.count > 0 %}
    <h3 class="mb-12 text-2xl text-center">{{user_obj.first_name}}'s Rooms</h3>
    <div class="container mx-auto pb-10 ">
        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in user_obj.rooms.all  %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %} 